* {
	margin: 0;
  padding: 0;
}

body, html {
  font-family: muli;
}

.portfolio {
	margin: 20px auto;
	width: 70%;
}

.toolbar {
	margin-bottom: 15px;
}

.filter-btn {
	margin-right: 5px;
	padding: 5px 8px;
	background-color: #ffffff;
	outline: none;
	border: 1px solid gray;
}

.selected {
	background-color: gray;
	color: #fff;
}

.project-list {
	column-count: 3;
}

.project-img {
	width: 100%;
	margin-bottom: 10px;

}